# macOS
.DS_Store

# Xcode
xcuserdata/
*.xcworkspace
DerivedData/
.idea/
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcodeproj/xcshareddata/xcdebugger/

# Swift Package Manager
.build/
Packages/
Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Code signing
*.certSigningRequest
*.p12

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# SwiftUI Previews
*.swiftdoc
*.swiftsourceinfo
*.swiftinterface

# Core Data
*.xcdatamodeld/.xccurrentversion

# Other
*.xcuserstate

